<article class="color-swatch">
  <div class="wrap">
    <div class="example">
      <span class="sr-only">{{hex_val}}
    </div>
    <div class="info">
      <p class="var">{{var_name}}</p>
      <p class="hex">{{hex_val}}</p>
    </div>
  </div>
</article>
