<div class="kss-markup kss-style">
  <h3>Markup for {{ section.header }}</h3>
  <pre class="prettyprint linenums lang-html"><code data-language="html">{{ section.markup|escape('html') }}</code></pre>
</div>
