<header id="kssref-{{ section.referenceURI }}" class="kss-section kss-section--depth-{{ section.depth }}">
  <div class="kss-style">

    {% include "section_heading.twig" %}

    {% if section.description %}
      <div class="kss-description">
        {{ section.description|raw }}
      </div>
    {% endif %}


</header>
