<article class="color-swatch">

  <div class="tab_group">

    <nav class="tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li><a id="specimen-tab" href="#">Specimen</a></li>
        <li><a id="example-tab" href="#">Example</a></li>
        <li><a id="test-drive-tab" href="#">Test Drive</a></li>
      </ul>
    </nav>

    <div class="tab-content">
      <article id="specimen" role="tabpanel" class="tab-pane active" aria-expanded="true" aria-labeledby="specimen-tab">
        <h1>{{font_name}}</h1>
        <div class="metrics">
          <ul>
            <li>{{font_size}}</li>
            <li>{{line_height}}</li>
          </ul>
        </div>
      </article>
      <article id="example" role="tabpanel" class="tab-pane active" aria-expanded="true" aria-labeledby="specimen-tab">
        <p>Sixty zippers were quickly picked from the woven jute bag.</p>
        <p>A mad boxer shot a quick, gloved jab to the jaw of his dizzy opponent.</p>
        <p>Jackdaws love my big sphinx of quartz.</p>
        <p>We promptly judged antique ivory buckles for the next prize.</p>
        <p>Ebenezer unexpectely bagged two tranquil aardvarks with his jiffy vacuum cleaner.</p>
        <p>King Alexander was just partly overcome after quizzing Diogenes in his tub.</p>
        <p>The July sun caused a fragment of black pine wax to ooze on the velvet quilt.</p>
        <p>Quick zephyrs blow, vexing daft Jim.</p>
        <p>Two hardy boxing kangaroos jet from Sydney to Zanzibar on quicksilver pinions.</p>
        <p>No kidding, Lorenzo called off his trip to visit Mexico City just because they told him the conquistadores were extinct.</p>
      </article>
      <article id="test-drive-tab" role="tabpanel" class="tab-pane active" aria-expanded="true" aria-labeledby="specimen-tab">
        <textarea class="font-test-drive" placeholder="Try the font out here!">          
        </textarea>
      </article>
    </div>

  </div>
</article>
