<article class="color-swatch">

  <div class="tab_group">

    <nav class="tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li><a id="specimen-tab" href="#">Specimen</a></li>
        <li><a id="example-tab" href="#">Example</a></li>
        <li><a id="test-drive-tab" href="#">Test Drive</a></li>
      </ul>
    </nav>

    <div class="tab-content">
      <article id="specimen" role="tabpanel" class="tab-pane active" aria-expanded="true" aria-labeledby="specimen-tab">
        <h1>{{font_name}}</h1>
        <div class="metrics">
          <ul>
            <li>{{font_size}}</li>
            <li>{{line_height}}</li>
          </ul>
        </div>
      </article>
      <article id="example" role="tabpanel" class="tab-pane active" aria-expanded="true" aria-labeledby="specimen-tab">
        <h1>Sixty zippers were quickly picked from the woven jute bag.</h1>
        <h2>A mad boxer shot a quick, gloved jab to the jaw of his dizzy opponent.</h2>
        <h3>Jackdaws love my big sphinx of quartz.</h3>
        <h4>We promptly judged antique ivory buckles for the next prize.</h4>
        <h5>Ebenezer unexpectely bagged two tranquil aardvarks with his jiffy vacuum cleaner.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </blockquote>
      </article>
      <article id="test-drive-tab" role="tabpanel" class="tab-pane active" aria-expanded="true" aria-labeledby="specimen-tab">
        <textarea class="font-test-drive" placeholder="Try the font out here!">
        </textarea>
      </article>
    </div>

  </div>
</article>
