.title-block {

  padding-left: 1em;
  padding-right: 1em;

  .contextual_menu__actuator {
    a {
      display: inline-block;
      width: 1em;
      &:hover {
        background: #eee;
        text-decoration: none;
      }
    }
  }
}
