$screen-xs: 420px !default;
$screen-sm: 640px !default;
$screen-md: 768px !default;
$screen-lg: 1200px !default;
$screen-xl: 1440px !default;

$gray-darker: #333;
$kss-header-bg: $gray-darker !default;
